.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 80px;
    height: 30rem;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.gridlines {
    left: 0;
    top: 0;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--background-color);
    stroke: var(--background-color);

    background-size: cover;
    background-position: center center;
}