.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 80px;
    height: 30rem;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.gridlines {
    left: 0;
    top: 0;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--background-color);
    stroke: var(--background-color);

    background-size: cover;
    background-position: center center;
}

.title {
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin-bottom: var(--mantine-spacing-xs);

    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
        text-align: left;
        padding: 2rem;
    }
}