.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 0px;
    gap: var(--mantine-spacing-md);
    margin-bottom: 2rem;
}

.contentTimeline {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 800;
    font-size: 40px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    padding: 0% 5%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
        padding: 2rem;
    }
}

.heading {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.arrowList {
    list-style-type: disc;
}

.arrowList li::marker {
    content: "";
}

.arrowList li::before {
    content: "\2192";
    margin-right: 0.5rem;
    color: inherit;
    font-size: 1rem;
    vertical-align: middle;
}

.arrowList li {
    display: flex;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.tile {
    min-width: 300px;
    min-height: 300px;
    width: 400px;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: var(--mantine-radius-md);
    background: var(--mantine-color-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    padding: 2rem;
}