.groupWrapper {
    display: flex;
    width: 75%;
    padding-bottom: 5%;
}

.divider {
    width: 50%;
    padding-bottom: 5%;

}

.textDiv {
    display: "flex";
    flex: 1;
}

.imgDiv {
    aspect-ratio: "1/1";
    width: 30%;
    min-width: 30rem;
}

.img {
    border-radius: var(--mantine-radius-md);
}