.timeline {
    width: 75%;

    @media (max-width: $mantine-breakpoint-sm) {
        width: auto;
    }
}

.timeline :global(.mantine-Timeline-itemBullet) {
    background-color: var(--mantine-color-body)
}

.logItem {
    display: flex;
    align-items: flex-start;
    padding-bottom: 7rem;
    min-width: 300px;
}

.img {
    border-radius: var(--mantine-radius-md);
    max-width: 50%;
}