.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 0px;
    gap: var(--mantine-spacing-md);
}

.tileContainer {
    min-width: 300px;
    min-height: 300px;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.tileImg {
    position: absolute;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--mantine-radius-lg);
    opacity: .3;
}

.tileText {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    position: absolute;
    padding: .5rem;
    top: 5rem;
    margin-inline-start: 2rem;
}