.workContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 0px;
    gap: var(--mantine-spacing-md);
    margin-bottom: 2rem;
}

.workTitle {
    font-weight: 800;
    font-size: 40px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    padding: 0% 5%;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: left;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
        padding: 2rem;
    }
}